PAGARME_SECRET_KEY=sk_live_xxxxxxxxxxxxxxxx

WC_URL=https://seu-site.com
WC_CONSUMER_KEY=ck_xxxxxxxxxxxxxxxx
WC_CONSUMER_SECRET=cs_xxxxxxxxxxxxxxxx

META_ACCESS_TOKEN=EAAxxxxxxxxxxxxxxxx
META_AD_ACCOUNT_ID=act_xxxxxxxxxxxxxxxx

GA4_PROPERTY_ID=312087335

ENOTAS_API_KEY=YTY4M2Y1MTAtZTc4OS00NTkwLWE5NzItOTIzODE3YjE1NTdh
